.gsc-search-box {
    display: none;
}

#exclusion-p {
    margin: 0;
    font-size: 15px;
}

.option-check-form {
    padding: 8px 16px 8px 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

footer {
    margin-top: auto;
}

#theme_on {
    margin: 0px;
}

#history {
    margin: 5px;
    padding: 5px;
}