.gsc-search-box {
    display: none;
}

#exclusion-p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.option-check-form {
    padding: 8px 16px 8px 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

footer {
    margin-top: auto;
}

#theme_on {
    margin: 0px;
}

#___gcse_1 {
    display: none;
}

h5.notcredit{
    color: black !important;
}

h2.modal-title{
    font-size: 20px;
    font-weight: 500;
}

#modal-body-title{
    font-size: 16px;

}

.modal-body-input-p{
    margin: 0;
}

.timeSetting{
    margin-top: 10px;
}

.modal-body{
    margin: 10px;
}

#demo{
    padding: 8px 16px 8px 16px;
    color: #664d03;
}
